@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }
  .typed-cursor{
    opacity: 1;
  }

  /* type sstyle */
  .typed-cursor.typed-cursor--blink{
    animation: typedjsBlink 1s infinite;
    -webkit-animation: typedjsBlink 1s infinite;
            animation: typedjsBlink 1s infinite;
  }
  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }
  /* 
  .navbar {
  margin-bottom: 20px;
}
/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


ul.navbar-nav .nav-link {
  color: var(--bs-white);
  font-size: 14PX;
  font-weight: 400 !important;
  font-family: 'Poppins', sans-serif;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  cursor: pointer;
}
@media (min-width:991px) and (max-width:1200px){
  nav.nav ul.list-group{
    column-gap: 1.5rem !important;
  }
}
ul.list-group::after{
  content: "";
  position: absolute;
  height: 4.9rem;
  width:1px ;
  top: 0;
  right: 21.5%;
  background-color:#c2c2c2;

}
.container-fluid .first-text{
  top: 30%;
  bottom: 50%;
  z-index: 1;
}

.nav-masthead button.active {
  color: var(--bs-gray) !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color:var(--bs-gray) !important;
}
/* end style */
body{
    font-family: "Poppins", sans-serif ;
    background-color: var(--bs-body-bg);
    scroll-behavior: smooth;
}
nav.navbar{
  z-index: 999;
  top: 0;
  transition: top 0.5s !important;
  display: block;
  border-bottom: 0.5px solid #888888;
  padding: 18px 0 !important;

}
section.first-nav a.navbar-brand{
letter-spacing: 1.5px;

}
.navbar-expand-lg .navbar-nav .nav-link{
  font-family: "Poppins", sans-serif ;
}
.after-scroll{
  animation: after-scroll 1s ;
  visibility: visible;
}
@keyframes after-scroll{
  0%{
    opacity: 0;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(50%);
  }
  
}
/* #nav{
  position: fixed;
  top: 0;
  width: 100% !important;
} */


/* nav*/
@media(max-width:991px){
  ul.list-group {
    background-color: var(--bs-list-group-action-hover-bg);
  }
}
section.Home{
    height: 100svh !important;
    /* background: url(imgs/imgs/bg.jpg) no-repeat  center center;
    background-size: cover;
    position: relative; */
}
section.Home .carousel{
  height: 100svh;
  width: 100%;
}
/* section.Home::before{
    content: "";
    position: absolute;
    background: #000000ab no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0 !important;
} */
.icons{
  position: relative;
  height: 5rem;
}
.icons i{
  position: relative;
  z-index: 2;
  width: 3rem;
  height:3rem;
  background-color: #00000071;
  
}
 .title h1{
  font-size: 70px !important;
  font-family: "Poppins", sans-serif;
  max-width: 75% !important;
  

 }
 .title p{
  font-family: "Montserrat", sans-serif;
  font-size: 65px !important;
  max-width: 80% !important;
  
 }
 .title span.small{
  font-weight: 100;
 }
 .container-fluid .carousel-inner{
  position: relative;
  z-index: 1;
 }
 .container-fluid .carousel-inner::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
 }
 .carousel-control-prev span.carousel-control-prev{
  width: auto;
  right: 0;
}
.carousel-indicators{
  bottom:2% ;
}
h1.first{
  font-size: 5rem;
  position: relative;
  animation-name: scale;
  animation-duration: 1s;

}
h1.second{
  font-size: 5rem;
  position: relative;
  animation-name: scale;
  animation-duration: 1s;

}
@media (max-width:554px) {
  h1.second{
    font-size: 3rem;
  }
  h1.first{
    font-size: 3rem;
  }  
  .first-text p{
    max-width: 90%;
    text-align: center;
  }
}
@keyframes scale{
  0%{
    transform: scale(0.2);
  }
  to{
    transform: scale(1);
  }
}
@keyframes scale-opacity{
  0%{
    opacity: 0;
    transform: scale(0.2);
  }
  10%{
    opacity: 0;
    transform: scale(0.2);
  }
  20%{
    opacity: 0;
    transform: scale(0.2);
  }
  30%{
    opacity: 0;
    transform: scale(0.2);
  }
  40%{
    opacity: 0;
    transform: scale(0.2);
  }
  50%{
    opacity: 0;
    transform: scale(0.2);
  }
  60%{
    opacity: 0;
    transform: scale(0.2);
  }
  70%{
    opacity: 0;
    transform: scale(0.2);
  }
  80%{
    opacity: 0;
    transform: scale(0.2);
  }
  90%{
    opacity: 0.5;
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
.first-text p{
  position: relative;
  animation-name: scale-opacity;
  animation-duration: 1.1s;

}

.parent-btn{
  position: relative;
  animation-name: scale-opacity;
  animation-duration: 1.6s;


}

/* .carousel-inner button{
  height: 3%;
  top: 38%;
  width: 3rem;
} */
#Home button.carousel-control-prev{
  height: 4%;
  bottom: 0;
  top: 35%;
  border: 1px solid #fff;
  width:3rem;
  border-left: none;
}
#Home .carousel-control-prev span.right{
  height: 3%;
  top: 50%;
  width: 3rem;
}
#Home .carousel-control-prev.right{
  height: 4%;
  top: 39%;
  width:3rem;
  bottom: 0;
  border-left: none;
}
#Home button.carousel-control-prev::before{
content: "";
position: absolute;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
transform: translateX(-100px);
transition: 0.5s;
z-index: 0;
}
#Home .carousel-control-prev:hover::before{
transform: translateX(0);
}
.carousel-control-prev:hover i.bi{
  color: #000 !important;
  z-index: 1;
}
.parent-btn a.shin{
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: #00c3da;
  color: #fff;
  padding-block: 0.7rem;

}

.carousel-item .parent-btn a.shin:hover::after{
  animation: shine;
}
.parent-btn a{
  padding-block: 0.7rem;
  font-size: 14px;
}
.parent-btn a.shine::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
.carousel-item .first-text{
  animation: zoomIn;
}






.navbar-brand{
  color: #fff;
}
@media(max-width:900px){
  a.navbar-brand img{
    width: 75% !important;
  }
  }
  
/*  _________________about_________*/
section.About{
  height: 30rem;
  /* overflow: hidden; */
}
.about-text h5{
  font-size: 14px;

}
.text-last h6{
  position: relative;
  font-size: 50px;
}
button:hover span.but{
color: white !important;
}
/* .text-last h6::before{
  content: "C";
  position: absolute;
  width: 100%;
  height: 100%;

} */
h6[data-bigletter]:before{
  z-index: -1;
  content: attr(data-bigletter);
  font-size: 2em;
  opacity: .06;
  position: absolute;
  top: -0.5em;
  left: 40%;
  right: 60%;
  text-align: center;
  text-transform: uppercase;
}
div.imag{
  z-index: 1;
}
div.imag img{
  width: 100%;
}
@media(max-width:991px){
  div.imag img{
    width: 80%;
    
  }
  
}
  div.imag::after{
  content: "";
  background: url(imgs/imgs/dots.png)  ;
  position: absolute;
  background-position: center center;
  background-repeat: repeat;
  width: 100%;
  height: 90%;
  left: 0;
  top: 15%;
  transform: translateX(-30px);
  z-index: -1;
  
  
  left: 0;
  bottom: -20%;
}
div.progress-bar{
  background-color: #000;
  width: 30%;
  transition: 1s;
}
.parent{
  height: 5rem;
}
.parent button.btn-outline-dark a{
  color:#000 !important;
  transition: 0.5s;
}
.parent button.btn-outline-dark{
  transition: 0.5s;

}
.parent button.btn-outline-dark:hover a{
color: #fff !important;
}
.parent button.wh{
  background-color: #000;
  border-radius: 10px;
  transition: 0.5s;

}
.parent button.wh a{ 
  color: #fff !important;  
  transition: 0.5s;

}
.parent button.wh a:hover{ 
  color: #000 !important;  
}
.parent button.wh:hover a{
  color: #000 !important;
}

.parent button.wh:hover{
  outline: 1px solid #000;
outline-color:#000 ;
background-color: #fff;
} 
/* ___________team__________ */
#Team{
  height: 45rem;
}
@keyframes scrolltop {
  0%{
transform: translateY(300px);
opacity: 0;
  }
  30%{
    opacity: 0.3;
  }
  60%{
    opacity: 0.6;
  }
  90%{
    opacity: 0.9;
  }

}
@keyframes scrolldown {
  0%{
transform: translateY(0);
  }
  30%{
    opacity: 0.9;
  }
  60%{
    opacity: 0.6;
  }
  90%{
    opacity: 0.3;
  }

}
.card.scrolltop{
  animation-name: scrolltop;
  animation-duration: 1s;

}
.card.two{
  animation-duration: 1.8s;
}
.card.three{
  animation-duration: 2.6s;
}
.card.four{
  animation-duration: 3.4s;
}
.card{
  border: none;
  transition: 1s;
}
.card.one.scrolltop{
  animation-name: scrolltop;
  animation-duration: 0.2s ;
}
.card.two.scrolltop{
  animation-name: scrolltop;
  animation-duration: 0.4s ;
}
.card.three.scrolltop{
  animation-name: scrolltop;
  animation-duration: 0.6s ;
}
.card.four.scrolltop{
  animation-name: scrolltop;
  animation-duration: 0.8s ;
}
/* _________scrolltop end____________ */



.hidee{
  transform: translateY(100px);
  background-color: rgba(0, 195, 218, 0.9);
  opacity: 0;
  transition:  0.5s;

}
.hidee a.link i{
  transition: 0.5s;
}
.hidee a.link{
  transition: 0.5s;
}

.hidee a.link:hover{
  border-radius: 50%;
  background-color: transparent;


}
.hidee a.link:hover i{
color: #fff;
transform: scale(1.1);
border-radius: 50%;
font-size: small;
border: none;
box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 1.5px 1.5px;

}
.hidee .box{
height: 85%;

}
.w-90{
  width: 90%;
}
.h-90{
  height: 90%;
}
.up-logo i{
  font-size: 14px;

}
.card:hover .hidee{
opacity: 1;
transform: translateY(0);
}
.text-down h6{
  font-size: 14px;
  font-weight: 600;
}
.text-down p{
  font-size: 13px;
  font-weight: 400;
}
section.parent{
  height: 35rem;
  background-color:rgb(99, 98, 98);
  width: 100%;
}
section.Services{
  height: 40rem;
  background-color:rgb(99, 98, 98);


}
.Services h6{
  font-size: 13px;
  letter-spacing: 0.1em;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}





/* ___________end team_______________ */
/* _________________service______________ */
.Pricing .card{
  height: 30rem;
  -webkit-box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.05);
  
}
.Pricing .card h5{
  font-size: 50px;
}
.card .center{
  background-color: #fff;
}

.card h5 span{
  font-size: 16px;
  vertical-align: top;
}
.Pricing h2[data-bigletter]::before{
  z-index: 0;
  content: attr(data-bigletter);
  font-size: 2em;
  opacity: .06;
  position: absolute;
  top: -0.5em;
  left: 40%;
  text-align: start;
  text-transform: uppercase;
}
section.Pricing{
  height: 60rem;
}
span.best{
  background-color: rgba(0, 195, 218, 0.9);
  color: #fff;
  font-size: 12px;
}
h5.gold{
  color: rgba(0, 195, 218, 0.9);
}
.h-80{
  height: 80%;
}
.card.gold{
  height: 33rem;
  transform: translateY(-25px);
}
.list ul{
  list-style: none;
}
.parent-info h4[data-bigletter]::before{
  z-index: 0;
  content: attr(data-bigletter);
  font-size: 2em;
  opacity: .06;
  position: absolute;
  top: -0.5em;
  left: -1.5%;
  text-align: start;
  text-transform: uppercase;
}
.row .feature{
  background-color: #fff;
  height: 22rem;
  row-gap: 0.5rem;
  -webkit-box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.07);
box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.07);

}
.feature-icon{
  border-radius: 50% !important;
}
div.feature-icon i.fa{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e7e786;
  width: 4rem;
  height: 4rem;
  border-radius: 50% !important;
  transition: all 0.5s;
}
div.feature:hover .feature-icon i.fa{
  background-color: #000;
  color: #fff;
}
i.fa-bullhorn{
  border-radius: 50% !important;
  background-color: #f8f8f8;
}

/* _________________________work__________ */
/* section.PORTFOLIO .row{
  column-gap: 1rem;
  flex-wrap: nowrap;
row-gap: 3rem;
} */
.cardparent{
  overflow: hidden;
  transition: 1s;

}
/* section.PORTFOLIO{
  height:32rem;
}
section.PORTFOLIO .container{
  height: 30rem;
} */
section.PORTFOLIO .container{
  height: 50%;
  
}
section.PORTFOLIO{
  height: 60rem;
}

.hide{
  height: 96% !important;
  width: 91% !important;
  opacity: 0;
  transition: all  0.5s;

}


.icons-card i{
  height: 2.3rem;
  width: 2.5rem;
  color: #fff;
  opacity: 1;
  
}
.hide .icons-card{
  transform: translateY(2rem);
  opacity: 0;
  transition: all  0.6s;

}
.hide h4{
  transform: translateY(-2rem);
  opacity: 0;
  letter-spacing: 2px;
  transition: all  0.6s;

}
.hide h4.fs-5{
  font-size: 1rem !important;
} 
.card-parent:hover {
  .hide{
    opacity: 1;
  }
  .hide h4{
    transform: translateY(0);
    opacity: 1;
  }
  .hide .icons-card{
    transform: translateY(0);
    opacity: 1;
  }
}
section#Works ul li button{
  color: #000;
  position: relative;
  
  }
  #Works ul li button:hover, #Works ul li button:focus{
    border-bottom: 3px solid inherit;
    cursor: pointer;
    width: 100%;
  }
  #Works ul li button.active{
  color: #000;
  border-bottom: 3px solid var(--bs-emphasis-color);
    }
  .center a.new{
    background-color: #00c3da;
    color: #fff;
    padding-block: 0.7rem;
  
  }


/* _________________________work__________ */

/* _____________________caro__________________ */
section.caro{
  height: 40rem;
}
section.caro .carousel-inner{
  height: 37rem;
}
.carousel-indicators button{
  height: 1rem;
  width: 1rem;
  color: #333
}
section.caro .carousel-indicators [data-bs-target]{
  border: 3px solid #c0c0c0;
  height: 0.7rem;
  width: 0.7rem;
  color: #c0c0c0 !important;
  background: #c0c0c0;
border-radius: 50%;

}
section.caro .carousel-indicators .active{
  border: 3px solid #00c3da;
  color: #00c3da !important;
  background: #00c3da;

}
  
  
section.caro h3{
  font-weight: 800;
  color: #333333;
}
section.caro img{
  width: 100px;
}
#Pricing button.carousel-control-prev.end{
  right: 0 !important;
  color: #000;
}
#Pricing button.carousel-control-prev.start{
  left:  0 !important;
  color: #000;
}
#Pricing button span i.bi{
  color: #000 !important;
  font-size: 30px;
  transition: all 0.5s;
}
#Pricing button span i.bi:hover{
  color: #00c3da !important;
  transform: translateX(10px);

}
#Pricing button span i.bi-arrow-left:hover{
  color: #00c3da !important;
  transform: translateX(-10px);

}
#Pricing button.carousel-control-prev {
  height: 5rem;
  top: 50%;
}
#Pricing button.carousel-control-next {
  height: 5rem;
  top: 50%;
}
#Pricing .second .image-caro{
position: relative;
z-index: 10;
top: 50px;
}
#Pricing .second{
  z-index: 1;
  overflow: visible;
}
#Pricing .Slider{
  height: 25rem;
}
/* _______end caro_____ */
/* info_______________________________________ */
section.info .container{
 max-width:98%;

}
.form input.message{
  height: 7rem;
}
.pop iframe{
  width: 100%;
  height: 1000px;
}
@media(max-width:991px){
  section.info .container .pop2{
    margin: auto;
  }
  .pop iframe{
    height: 500px;
  }
  
}





/* info end________________________________________ */

@media(max-width:991px){


  .PORTFOLIO .row{
  flex-wrap: wrap !important;

}
.row .feature{
  height: 20rem;

}

}
/* ______1_____ */
section.show-animate{
  transition: 1s;
}
section.PORTFOLIO.show-animate{
  transform: translateY(0);
}
/* section.PORTFOLIO{
  transform: translateY(100px);
} */
/* ____2__ */
section.About.show-animate{
  transform: translateY(50px);
}
section.About{
  transform: translateY(200px);
  
}
/* ____3__ */

section.Services.show-animate{
  transform: translateY(70px);
}
section.Services{
  transform: translateY(150px);
}
/* ____4__ */

section.caro.show-animate{
  transform: translateY(0);
} 
section.caro{
  transform: translateY(100px);
}
/* ____5__ */
section.PORTFOLIO.show-animate{
  transform: translateY(0);
}
section.Pricing {
  transform: translateY(100px);

}
section.Pricing.show-animate{
  transform: translateY(0);

}
section.info{
  transform:translateY(300px) !important;
}
section.info .show-animate{
  transform:translateY(0) !important;
}
section#Team{
  transform:translateY(200px) !important;
}
section#Team.show-animate{
  transform:translateY(0) !important;
  
}

/* section.PORTFOLIO{
  transform: translateY(100px);
} */
/* ____6__ */
/* _______________________contact______________ */
section#Contact{
  height: 65rem;
}
section.info .form{

}


section.info .pop h3[data-bigletter]:before{
  z-index: -1;
  content: attr(data-bigletter);
  font-size: 2em;
  opacity: .06;
  position: absolute;
  top: -0.5em;
  left: -10px;
  text-align: center;
  text-transform: uppercase;
}
section.info .pop .form input.form-control{
  height: 50px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 50px;
  border: 2px solid #eee;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
button.new {
  position: relative;
  padding: 13px 18px;
  border-radius: 7px;
  border: 1px solid #00c3da;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0px;
  background-color: #00c3da;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button.new:hover {
  background: #00c3da;
  color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button.new:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button.new::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button.new:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


/* _________________________info____________ */


























/* ___________________4wit media kda 3alray2_____________*/
h1, h2, h3, h4, h5, h6, .logo{
  font-family: 'Poppins', sans-serif;
}
.rules li{
  color: #352e28;
}
.box-info{
  width: 100% !important; 
}
@media(max-width:991px){
  .About .row.one{
    flex-direction: column;
    row-gap: 3rem;
  }
  article.right{
    row-gap:2rem ;
  }
}









@media(max-width:991px){
  ul.navbar-nav{
      width: 100% !important;
  }
  ul.navbar-nav li {
    width: 20%;
    align-self: center;
  }
  ul.navbar-nav li a {
    text-align: center;
  }


}
@media(max-width:764px){
  #Team{
    height: auto !important;
  }
  section.Pricing{
    height: 150rem  !important;
  }
  section.Services{
    height: 60rem !important;

  }
  section.About{
    height: auto;
  }
  section.Services .container{
    height: auto !important;

  }
  .Pricing .card.gold{
    transform: translateY(0);
  }
  .PORTFOLIO{
    height: auto !important;
  }
  
}
@media(min-width:765px) and (max-width:991px){
  #Team{
    height: auto !important;
  }
  section.Pricing{
    height: 80rem  !important;
  }

  .Pricing .card.gold{
    transform: translateY(-16px);
  }
  .PORTFOLIO{
    height: 70rem !important;
  }



}
@media(min-width:992px) and (max-width:1399px){
  #Team{
    height: 40rem !important;
  }
}